# ============================================================================
# Django Environment
# ============================================================================
DJANGO_ENV=development
DEBUG=True

DJANGO_SECRET_KEY=replace-me

ALLOWED_HOSTS=127.0.0.1,localhost



# ============================================================================
# PostgreSQL
# ============================================================================
POSTGRES_DB=juxtgo

POSTGRES_USER=juxtgo
POSTGRES_PASSWORD=replace-me

POSTGRES_HOST=db
POSTGRES_PORT=5432



# ============================================================================
# JWT
# ============================================================================
JWT_SIGNING_KEY=replace-me



# ============================================================================
# Docker User Mapping
# ============================================================================
UID=1000
GID=1000
APP_USER=hadi